html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    margin: 0;
    height: 100vh;
    background-color: rgb(43, 43, 43);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: 1.5rem;
    color: rgb(235, 235, 235);
    overflow: hidden;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
    text-transform: uppercase;
}

#text-container {
    width: 800px;
    height: auto;
    margin: 20px auto;
    line-height: 2.5rem;
    background-color: white;
    cursor: none;
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 10px;
    color: rgb(20, 20, 20);
}

#timer-container {
    font-size: 1.3rem;
    margin: 10px;
}

#final-score {
    font-size: 1.4rem;
    color: gold;
    font-weight: 700;
    margin: 20px auto;
}

button {
    margin-top: 30px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    width: 120px;
    border-radius: 10px;
    background-color: rgb(129, 129, 129);
    border: none;
    cursor: pointer;
    display: none;
}

button:hover {
    filter: brightness(1.2);
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

span {
    min-width: 13px;
}

.correct {
    color: green;
    font-weight: 700;
}

.error {
    color: red;
    font-weight: 700;
}