html {
    box-sizing: border-box;
}

*, *::before, *::after { box-sizing: inherit; }


body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(36, 36, 36);
    font-family: monospace;
    color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructions-container {
    width: 75%;
    margin: 40px auto;
    font-size: 1.2rem;
    color: rgb(0, 245, 185);
    text-align: center;
}

h1 {
    margin: 20px 0 40px 0;
    font-size: 3.5rem;
}

.selection-container {
    width: 800px;
    height: auto;
    margin: 30px 0;
}

form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

    form > div {
        width: 200px;
    }

input[type="number"],
select {
    width: 100%;
    box-sizing: border-box;
    padding: 7px;
    margin-top: 7px;
    border-radius: 10px 10px 4px 4px;
}

select:hover {
    cursor: pointer;
}

select option:checked {
    background-color: rgb(36, 36, 36);
    color: rgb(225, 225, 225);
}



#text-container {
    width: 800px;
    height: auto;
    margin: 10px auto 20px auto;
    background-color: rgb(235, 235, 235);
    color: rgb(55, 55, 55);
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 10px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    border-radius: 10px;
    cursor: none;
    display: flex;
    align-items: center;
}

.stat-container {
    margin: 30px auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: rgb(200, 245, 225);
    font-weight: 700;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    display: none;
}

.stat-final {
    margin-top: 20px;
    font-size: 1.7rem;
    color: rgb(235, 235, 235);
}

.statistic {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score {color: rgb(235, 235, 235);}
.stat-final > .score {color: gold;}

.timer-container {
    width: 250px;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

#try-again {
    width: 125px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-size: 0.9rem;
    font-weight: 700;
    background-color: rgb(220, 200, 40);
    cursor: pointer;
    display: none;
}

#try-again:hover {
    filter: brightness(0.75);
    transition: 0.8s ease;
}

span {min-width: 13px;}
.correct { color: green; font-weight: 700; }
.error   { color: red;   font-weight: 700; }